body {
  background: whitesmoke;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.header .title {
  background: #3c3c3c;
  color: whitesmoke;
  padding: 10px;
}

.header .banner {
  background-image: linear-gradient(
      to bottom,
      rgba(215, 214, 206, 0.4),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://s-media-cache-ak0.pinimg.com/originals/4a/3f/c2/4a3fc295e7d6492d72d9c3a2ba786ad3.jpg);
  /*url(https://s-media-cache-ak0.pinimg.com/originals/38/9a/b5/389ab5528bcc71ae4ce042d1de96dfe0.jpg);*/
  /*background: #e7eff5;*/
  /*background-size: contain;*/
  color: #303030;
  height: 80px;
}

.slogan {
  margin: 0 auto;
  display: block;
  width: 300px;
  font-size: 20px;
  padding-top: 20px;
  color: #3d3c3c;
}

.loginBtn {
  margin-top: 5px;
  margin-left: 20px;
  position: absolute;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.category-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  max-width: 300px;
  margin: 10px auto;
}

#login-buttons {
  display: block;
}

.content {
  margin-top: 10px;
}

.new-task {
  background: #f9f9f9;
  padding: 10px;
}

input[type="submit"] {
  background: #dee8ef;
  border: none;
  /*margin-top: 10px;*/
  width: 100%;
}

input[type="submit"]:hover {
  background: #e9eff3;
}

textarea {
  background: #fffefa;
  border: 1px dashed #b5b5b5;
}

textarea[name="movieNote"] {
  width: 90%;
}

input[type="radio"] {
  visibility: hidden;
  margin: 0;
  width: 0;
}

form.link label:hover {
  cursor: pointer;
  color: #99bcce;
}

.source {
  float: right;
  font-size: 12px;
}

.pagination {
  padding: 10px;
  display: flex;
  color: #607d8b;
  justify-content: flex-end;
}

.pagination div {
  margin: 0 10px;
}

.pagination div:hover {
  cursor: pointer;
  color: #99bcce;
}

.content {
  padding: 20px;
  background: #fff9e2;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 250, 220, 0.53),
      rgba(255, 254, 232, 0.75)
    ),
    url(https://s-media-cache-ak0.pinimg.com/736x/d1/ec/33/d1ec33da92f09ca1d2af2241217324b9.jpg);
}

.notes {
  padding: 20px;
  border: 1px dashed #f7e4e4;
}

.new-comment {
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
}

/*.new-comment input {
    width: 300px;
    height: 35px;
}

.new-comment button {
    background: #e0e0e0;
    border: none;
}*/

.new-chapter {
  background: #fdfbeb;
  padding: 10px;
}

.new-comment .add {
  width: 50px;
  background: #e8e8e8;
  margin-left: 10px;
}

.new-comment .add:hover {
  background: #fff9e2;
}

.new-comment input[type="text"] {
  flex-grow: 2;
}

.comment-label {
  padding: 10px;
}

.comment-container {
  background: #fbfbfb;
}

.comment-item {
  padding: 10px;
  border-bottom: 1px dashed gainsboro;
}

.link {
  float: right;
  margin-right: 20px;
}

input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  font-size: 1em;
}

textarea {
  margin-left: 15px;
}

.new-task label ~ input {
  display: inline-block;
}

input:focus {
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px 15px 50px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li button.edit {
  margin-top: 10px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
  .search {
    width: 150px;
    clear: both;
  }
  .new-task input {
    padding-bottom: 5px;
  }
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  position: fixed;
  top: 120px;
  width: 200px;
  color: grey;
  margin-left: 20px;
}
.nav-side-menu .brand {
  background-color: rgba(255, 232, 142, 0.66);
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  border: none;
  line-height: 28px;
  background: #fbfbfb;
  border-bottom: 1px solid #e1e4e6;
  margin-left: 0px;
  padding-left: 12px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: rgba(255, 232, 142, 0.66);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: grey;
  padding-left: 10px;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: rgb(255, 232, 142);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 1045px) {
  .nav-side-menu {
    top: 0px;
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 10 !important;
    padding: 3px;
    color: grey;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

.book-item {
  padding: 10px;
  /*background: #e2f1ec;*/
  border: 2px dashed #e4e4c6;
}

.book-title {
  margin: 15px 0 5px;
  font-weight: bolder;
}

.book-author {
  font-weight: bolder;
  margin-bottom: 20px;
}

.chapter {
  margin-top: 10px;
}

.chapter div {
  margin: 10px 0;
}
.panel-default .chapter-title {
  background-color: #fffbee;
}

.chapter-content {
  /*background: #fff9e2;*/
  padding: 5px;
}

.chapter-note {
  padding: 5px;
  border: 1px dashed #f7e4e4;
  background: white;
}

.books-form {
  padding: 30px 50px 10px 15px;
  background: #fffae4;
}

.col-sm-10 textarea {
  margin: 0;
}

.chapter-group {
  font-size: 12px;
  margin-left: 50px;
  padding: 20px;
  border-top: 1px solid #bbb;
  /*background: white;*/
}

a.thumbnail img {
  height: 140px;
  width: 100px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 6px solid #ffc107;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.thumbnail img {
  margin-top: 5px;
  /*padding: 10px;*/
  background: whitesmoke;
  box-shadow: 0px 0px 5px #888888;
}

.thumbnail .caption {
  background: whitesmoke;
  margin-top: 10px;
}

.movie-item div div textarea[name="note"] {
  width: 100%;
  margin-left: 0;
}

.movie-item {
  border: 2px dashed #e4e4c6;
}

.movie-item .row {
  padding: 10px;
}
/*
.image-container {
    margin: 0 auto;
    background: grey;
}*/
.tag-icon {
  margin-right: 5px;
}
.tags {
  margin: 10px 0;
}
.tag-list {
  margin-bottom: 10px;
}
div.tag {
  color: white;
  margin: 0 2px;
  position: relative;
  display:inline-block;
  background: #5bc0de;
  border-radius: 5px;
  padding: 2px 15px 2px 12px;
}
.tag .tag-remove {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 10px;
}

.tag .tag-remove:hover {
  cursor: pointer;
}